node_modules/
dist/
dist-cjs/
lib/
.yarn
.turbo
.eslintcache
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log
.pnpm-debug.log*
docs/_dist/

package-lock.json
yarn.lock

langchain/docs/

.idea/

.DS_Store

Chinook.db
Chinook_Sqlite.sql

.envrc
*.swp
*.swo

.node-version

firebase-debug.log
firestore-debug.log
tmp/

**/convex/.gitignore
**/convex/tsconfig.json

langchain/api_refs_docs_build/dist/**/*

.docusaurus/
docs/build/
docs/api_refs/typedoc.json

.tool-versions
credentials.json
**/typedoc.json
.vercel

bun.lock
coverage/