node_modules/
dist/
dist-cjs/
lib/
.turbo
.eslintcache
.env
.env.local
yarn-error.log
docs/_dist/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

langchain/docs/

.idea/

.DS_Store

Chinook.db
Chinook_Sqlite.sql

.envrc
*.swp
*.swo

.node-version

firebase-debug.log
firestore-debug.log
tmp/

**/convex/.gitignore
**/convex/tsconfig.json

langchain/api_refs_docs_build/dist/**/*

.docusaurus/
docs/build/