node_modules/
dist/
dist-cjs/
lib/
.yarn
.turbo
.eslintcache
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log
.pnpm-debug.log*

package-lock.json
yarn.lock

.idea/
.zed/

.DS_Store

Chinook.db
Chinook_Sqlite.sql

.envrc
*.swp
*.swo

.node-version

firebase-debug.log
firestore-debug.log
tmp/

**/convex/.gitignore
**/convex/tsconfig.json

.tool-versions
credentials.json

bun.lock
coverage/

**/*.cjs
**/*.js
**/*.d.ts
**/*.d.cts
!**/src/**/*.cjs
!**/src/**/*.js
!**/src/**/*.d.ts
!**/src/**/*.d.cts

examples/src/createAgent/*.png
libs/langchain/graph-matrix.mermaid.md
# LangGraph API
.langgraph_api
