# Couchbase connection params
COUCHBASE_DB_CONN_STR=
COUCHBASE_DB_USERNAME=
COUCHBASE_DB_PASSWORD=

# Couchbase vector store args
COUCHBASE_DB_BUCKET_NAME=
COUCHBASE_DB_SCOPE_NAME=
COUCHBASE_DB_COLLECTION_NAME=
COUCHBASE_DB_INDEX_NAME=

# Open AI Key for embeddings
OPENAI_API_KEY=