# Environment variables for testing locally go here
OCI_GENAI_INTEGRATION_TESTS_COMPARTMENT_ID="compartment id where you have access to Gen AI resources and models"
OCI_GENAI_INTEGRATION_TESTS_COHERE_ON_DEMAND_MODEL_ID="A Cohere model you would like to use for the tests"
OCI_GENAI_INTEGRATION_TESTS_GENERIC_ON_DEMAND_MODEL_ID="A none Cohere model you would like to use for the tests"