# 鉴权相关
## AK 与 SK 分别对应于千帆平台上 **应用** 的 API Key 与 Secret Key
## 主要用于模型相关 API 鉴权
## 获取位置：https://console.bce.baidu.com/qianfan/ais/console/applicationConsole/application
# QIANFAN_AK=""
# QIANFAN_SK=""

## Access Key 与 Secret Key 对应于 [百度智能云控制台-安全认证] 
## 中的 Access Key 与 Secret Key
## 获取位置：https://console.bce.baidu.com/iam/#/iam/accesslist
## 主要用于非模型相关的、管控类的 API 鉴权
## 注意与 AK 与 SK 的使用范围进行区分，详细参见文档
# QIANFAN_ACCESS_KEY=""
# QIANFAN_SECRET_KEY=""