# Azure CosmosDB for NoSQL connection string
AZURE_COSMOSDB_NOSQL_CONNECTION_STRING=

# Azure CosmosDB for NoSQL endpoint (if you're using managed identity)
AZURE_COSMOSDB_NOSQL_ENDPOINT=

# Azure DocumentDB connection string
AZURE_DOCUMENTDB_CONNECTION_STRING=

# If you're using Azure OpenAI API, you'll need to set these variables
OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=
OPENAI_EMBEDDINGS_MODEL=
AZURE_OPENAI_API_EMBEDDINGS_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=

# Or you can just use the OpenAI API directly
OPENAI_API_KEY=
