{
  "openapi": "3.0.3",
  "info": {
    "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
    "title": "Gemini API",
    "version": "v1beta",
    "x-google-revision": "20260904"
  },
  "servers": [
    {
      "url": "https://generativelanguage.googleapis.com",
      "description": "Global Endpoint"
    }
  ],
  "externalDocs": {
    "url": "https://developers.generativeai.google/api",
    "description": "Find more info here."
  },
  "components": {
    "securitySchemes": {
      "google_oauth_implicit": {
        "description": "Google Oauth 2.0 implicit authentication flow.",
        "flows": {
          "implicit": {
            "scopes": {
              "https://www.googleapis.com/auth/devstorage.read_only": "View your data in Google Cloud Storage"
            },
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth"
          }
        },
        "type": "oauth2"
      },
      "bearer_auth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Http bearer authentication."
      },
      "google_oauth_code": {
        "flows": {
          "authorizationCode": {
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/devstorage.read_only": "View your data in Google Cloud Storage"
            },
            "refreshUrl": "https://oauth2.googleapis.com/token"
          }
        },
        "type": "oauth2",
        "description": "Google Oauth 2.0 authorizationCode authentication flow."
      }
    },
    "schemas": {
      "CountTokensResponse": {
        "properties": {
          "cacheTokensDetails": {
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            },
            "description": "Output only. List of modalities that were processed in the cached content.",
            "type": "array",
            "readOnly": true
          },
          "promptTokensDetails": {
            "description": "Output only. List of modalities that were processed in the request input.",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            },
            "type": "array"
          },
          "cachedContentTokenCount": {
            "format": "int32",
            "description": "Number of tokens in the cached part of the prompt (the cached content).",
            "type": "integer"
          },
          "totalTokens": {
            "type": "integer",
            "format": "int32",
            "description": "The number of tokens that the `Model` tokenizes the `prompt` into. Always\nnon-negative."
          }
        },
        "description": "A response from `CountTokens`.\n\nIt returns the model's `token_count` for the `prompt`.",
        "type": "object"
      },
      "McpServer": {
        "description": "A MCPServer is a server that can be called by the model to perform actions.\nIt is a server that implements the MCP protocol.\nNext ID: 7",
        "type": "object",
        "properties": {
          "streamableHttpTransport": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StreamableHttpTransport"
              }
            ],
            "description": "A transport that can stream HTTP requests and responses."
          },
          "name": {
            "description": "The name of the MCPServer.",
            "type": "string"
          }
        }
      },
      "SemanticRetrieverConfig": {
        "properties": {
          "maxChunksCount": {
            "description": "Optional. Maximum number of relevant `Chunk`s to retrieve.",
            "format": "int32",
            "type": "integer"
          },
          "metadataFilters": {
            "description": "Optional. Filters for selecting `Document`s and/or `Chunk`s from the resource.",
            "items": {
              "$ref": "#/components/schemas/MetadataFilter"
            },
            "type": "array"
          },
          "minimumRelevanceScore": {
            "description": "Optional. Minimum relevance score for retrieved relevant `Chunk`s.",
            "type": "number",
            "format": "float"
          },
          "query": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Content"
              }
            ],
            "description": "Required. Query to use for matching `Chunk`s in the given resource by similarity."
          },
          "source": {
            "type": "string",
            "description": "Required. Name of the resource for retrieval. Example: `corpora/123` or\n`corpora/123/documents/abc`."
          }
        },
        "required": [
          "source",
          "query"
        ],
        "type": "object",
        "description": "Configuration for retrieving grounding content from a `Corpus` or\n`Document` created using the Semantic Retriever API."
      },
      "GenerativeLanguageModality": {
        "enum": [
          "MODALITY_UNSPECIFIED",
          "TEXT",
          "IMAGE",
          "VIDEO",
          "AUDIO",
          "DOCUMENT"
        ],
        "type": "string",
        "x-google-enum-descriptions": [
          "Unspecified modality.",
          "Plain text.",
          "Image.",
          "Video.",
          "Audio.",
          "Document, e.g. PDF."
        ]
      },
      "InlinedEmbedContentResponse": {
        "description": "The response to a single request in the batch.",
        "type": "object",
        "properties": {
          "response": {
            "readOnly": true,
            "description": "Output only. The response to the request.",
            "allOf": [
              {
                "$ref": "#/components/schemas/EmbedContentResponse"
              }
            ]
          },
          "metadata": {
            "additionalProperties": {
              "description": "Properties of the object."
            },
            "description": "Output only. The metadata associated with the request.",
            "type": "object",
            "readOnly": true
          },
          "error": {
            "readOnly": true,
            "description": "Output only. The error encountered while processing the request.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Status"
              }
            ]
          }
        }
      },
      "AsyncBatchEmbedContentOperation": {
        "description": "This resource represents a long-running operation where metadata and response fields are strongly typed.",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseOperation"
          },
          {
            "properties": {
              "metadata": {
                "$ref": "#/components/schemas/EmbedContentBatch"
              },
              "response": {
                "$ref": "#/components/schemas/AsyncBatchEmbedContentResponse"
              }
            },
            "type": "object"
          }
        ],
        "type": "object"
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }",
        "type": "object"
      },
      "BatchEmbedContentsResponse": {
        "type": "object",
        "properties": {
          "embeddings": {
            "readOnly": true,
            "description": "Output only. The embeddings for each request, in the same order as provided in the batch\nrequest.",
            "items": {
              "$ref": "#/components/schemas/ContentEmbedding"
            },
            "type": "array"
          },
          "usageMetadata": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EmbeddingUsageMetadata"
              }
            ],
            "readOnly": true,
            "description": "Output only. The usage metadata for the request."
          }
        },
        "description": "The response to a `BatchEmbedContentsRequest`."
      },
      "CountTokensRequest": {
        "description": "Counts the number of tokens in the `prompt` sent to a model.\n\nModels may tokenize text differently, so each model may return a different\n`token_count`.",
        "properties": {
          "generateContentRequest": {
            "description": "Optional. The overall input given to the `Model`. This includes the prompt as well as\nother model steering information like [system\ninstructions](https://ai.google.dev/gemini-api/docs/system-instructions),\nand/or function declarations for [function\ncalling](https://ai.google.dev/gemini-api/docs/function-calling).\n`Model`s/`Content`s and `generate_content_request`s are mutually\nexclusive. You can either send `Model` + `Content`s or a\n`generate_content_request`, but never both.",
            "allOf": [
              {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            ]
          },
          "contents": {
            "description": "Optional. The input given to the model as a prompt. This field is ignored when\n`generate_content_request` is set.",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "StringList": {
        "type": "object",
        "description": "User provided string values assigned to a single metadata key.",
        "properties": {
          "values": {
            "type": "array",
            "description": "The string values of the metadata to store.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GenerateMessageRequest": {
        "required": [
          "prompt"
        ],
        "type": "object",
        "description": "Request to generate a message response from the model.",
        "properties": {
          "candidateCount": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The number of generated response messages to return.\n\nThis value must be between\n`[1, 8]`, inclusive. If unset, this will default to `1`."
          },
          "topK": {
            "description": "Optional. The maximum number of tokens to consider when sampling.\n\nThe model uses combined Top-k and nucleus sampling.\n\nTop-k sampling considers the set of `top_k` most probable tokens.",
            "type": "integer",
            "format": "int32"
          },
          "prompt": {
            "description": "Required. The structured textual input given to the model as a prompt.\n\nGiven a\nprompt, the model will return what it predicts is the next message in the\ndiscussion.",
            "allOf": [
              {
                "$ref": "#/components/schemas/MessagePrompt"
              }
            ]
          },
          "topP": {
            "format": "float",
            "description": "Optional. The maximum cumulative probability of tokens to consider when sampling.\n\nThe model uses combined Top-k and nucleus sampling.\n\nNucleus sampling considers the smallest set of tokens whose probability\nsum is at least `top_p`.",
            "type": "number"
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "description": "Optional. Controls the randomness of the output.\n\nValues can range over `[0.0,1.0]`,\ninclusive. A value closer to `1.0` will produce responses that are more\nvaried, while a value closer to `0.0` will typically result in\nless surprising responses from the model."
          }
        }
      },
      "InlinedEmbedContentResponses": {
        "description": "The responses to the requests in the batch.",
        "properties": {
          "inlinedResponses": {
            "readOnly": true,
            "description": "Output only. The responses to the requests in the batch.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InlinedEmbedContentResponse"
            }
          }
        },
        "type": "object"
      },
      "Type": {
        "type": "string",
        "x-google-enum-descriptions": [
          "Not specified, should not be used.",
          "String type.",
          "Number type.",
          "Integer type.",
          "Boolean type.",
          "Array type.",
          "Object type.",
          "Null type."
        ],
        "enum": [
          "TYPE_UNSPECIFIED",
          "STRING",
          "NUMBER",
          "INTEGER",
          "BOOLEAN",
          "ARRAY",
          "OBJECT",
          "NULL"
        ]
      },
      "CreateTunedModelOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseOperation"
          },
          {
            "type": "object",
            "properties": {
              "metadata": {
                "$ref": "#/components/schemas/CreateTunedModelMetadata"
              },
              "response": {
                "$ref": "#/components/schemas/TunedModel"
              }
            }
          }
        ],
        "type": "object",
        "description": "This resource represents a long-running operation where metadata and response fields are strongly typed."
      },
      "ListEnvironmentsResponse": {
        "description": "Response for `ListEnvironments`.",
        "type": "object",
        "properties": {
          "nextPageToken": {
            "description": "Pagination token.",
            "type": "string"
          },
          "environments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Environment"
            },
            "description": "Environments belonging to the provided project."
          }
        }
      },
      "DynamicRetrievalConfig": {
        "properties": {
          "dynamicThreshold": {
            "type": "number",
            "description": "The threshold to be used in dynamic retrieval.\nIf not set, a system default value is used.",
            "format": "float"
          },
          "mode": {
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_DYNAMIC"
            ],
            "x-google-enum-descriptions": [
              "Always trigger retrieval.",
              "Run retrieval only when system decides it is necessary."
            ],
            "type": "string",
            "description": "The mode of the predictor to be used in dynamic retrieval."
          }
        },
        "type": "object",
        "description": "Describes the options to customize dynamic retrieval."
      },
      "TextResponseFormat": {
        "type": "object",
        "description": "Configuration for text output format.",
        "properties": {
          "mimeType": {
            "description": "Optional. The MIME type of the text output.",
            "enum": [
              "MIME_TYPE_UNSPECIFIED",
              "APPLICATION_JSON",
              "TEXT_PLAIN"
            ],
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "JSON output format.",
              "Plain text output format."
            ],
            "type": "string"
          },
          "schema": {
            "description": "Optional. The JSON schema that the output should conform to. Only applicable when\nmime_type is APPLICATION_JSON."
          }
        }
      },
      "UploadToFileSearchStoreResponse": {
        "description": "Response from UploadToFileSearchStore.",
        "type": "object",
        "properties": {
          "mimeType": {
            "type": "string",
            "description": "MIME type of the file."
          },
          "parent": {
            "description": "The name of the `FileSearchStore` containing `Document`s.\nExample: `fileSearchStores/my-file-search-store-123`",
            "type": "string"
          },
          "documentName": {
            "x-google-identifier": true,
            "type": "string",
            "x-google-immutable": true,
            "description": "Immutable. Identifier. The identifier for the `Document` imported.\nExample: `fileSearchStores/my-file-search-store-123a456b789c`"
          },
          "sizeBytes": {
            "description": "Size of the file in bytes.",
            "format": "int64",
            "type": "string"
          }
        }
      },
      "Corpus": {
        "properties": {
          "name": {
            "type": "string",
            "x-google-immutable": true,
            "description": "Output only. Immutable. Identifier. The `Corpus` resource name. The ID (name excluding the \"corpora/\" prefix)\ncan contain up to 40 characters that are lowercase alphanumeric or dashes\n(-). The ID cannot start or end with a dash. If the name is empty on\ncreate, a unique name will be derived from `display_name` along with a 12\ncharacter random suffix.\nExample: `corpora/my-awesome-corpora-123a456b789c`",
            "x-google-identifier": true,
            "readOnly": true
          },
          "displayName": {
            "type": "string",
            "description": "Optional. The human-readable display name for the `Corpus`. The display name must be\nno more than 512 characters in length, including spaces.\nExample: \"Docs on Semantic Retriever\""
          },
          "createTime": {
            "readOnly": true,
            "format": "date-time",
            "type": "string",
            "description": "Output only. The Timestamp of when the `Corpus` was created."
          },
          "updateTime": {
            "description": "Output only. The Timestamp of when the `Corpus` was last updated.",
            "format": "date-time",
            "type": "string",
            "readOnly": true
          }
        },
        "type": "object",
        "description": "A `Corpus` is a collection of `Document`s.\nA project can create up to 10 corpora."
      },
      "AudioResponseFormat": {
        "type": "object",
        "description": "Configuration for audio output format.",
        "properties": {
          "mimeType": {
            "description": "Optional. The MIME type of the audio output.",
            "enum": [
              "MIME_TYPE_UNSPECIFIED",
              "AUDIO_MP3",
              "AUDIO_OGG_OPUS",
              "AUDIO_L16",
              "AUDIO_WAV",
              "AUDIO_ALAW",
              "AUDIO_MULAW"
            ],
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "MP3 audio format.",
              "OGG Opus audio format.",
              "Raw PCM (L16) audio format.",
              "WAV audio format.",
              "A-law audio format.",
              "Mu-law audio format."
            ],
            "type": "string"
          },
          "sampleRate": {
            "description": "Optional. Sample rate in Hz.",
            "type": "integer",
            "format": "int32"
          },
          "bitRate": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats\n(MP3, Opus)."
          },
          "delivery": {
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "Audio data is returned inline in the response.",
              "Audio data is returned as a URI."
            ],
            "description": "Optional. The delivery mode for the audio output.",
            "enum": [
              "DELIVERY_UNSPECIFIED",
              "INLINE",
              "URI"
            ],
            "type": "string"
          }
        }
      },
      "AuthToken": {
        "description": "A request to create an ephemeral authentication token.",
        "type": "object",
        "properties": {
          "bidiGenerateContentSetup": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BidiGenerateContentSetup"
              }
            ],
            "x-google-immutable": true,
            "description": "Optional. Input only. Immutable. Configuration specific to `BidiGenerateContent`.",
            "writeOnly": true
          },
          "fieldMask": {
            "x-google-immutable": true,
            "type": "string",
            "writeOnly": true,
            "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
            "format": "google-fieldmask",
            "description": "Optional. Input only. Immutable. If field_mask is empty, and `bidi_generate_content_setup` is not present,\nthen the effective `BidiGenerateContentSetup` message is taken from the\nLive API connection.\n\nIf field_mask is empty, and `bidi_generate_content_setup` _is_ present,\nthen the effective `BidiGenerateContentSetup` message is taken entirely\nfrom `bidi_generate_content_setup` in this request. The setup message from\nthe Live API connection is ignored.\n\nIf field_mask is not empty, then the corresponding fields from\n`bidi_generate_content_setup` will overwrite the fields from the setup\nmessage in the Live API connection."
          },
          "name": {
            "readOnly": true,
            "description": "Output only. Identifier. The token itself.",
            "type": "string",
            "x-google-identifier": true
          },
          "uses": {
            "x-google-immutable": true,
            "description": "Optional. Input only. Immutable. The number of times the token can be used. If this value is zero then no\nlimit is applied. Resuming a Live API session does not count as a use. If\nunspecified, the default is 1.",
            "type": "integer",
            "writeOnly": true,
            "format": "int32"
          },
          "expireTime": {
            "format": "date-time",
            "type": "string",
            "description": "Optional. Input only. Immutable. An optional time after which, when using the resulting token, messages in\nBidiGenerateContent sessions will be rejected. (Gemini may preemptively\nclose the session after this time.)\n\nIf not set then this defaults to 30 minutes in the future. If set, this\nvalue must be less than 20 hours in the future.",
            "writeOnly": true,
            "x-google-immutable": true
          },
          "newSessionExpireTime": {
            "x-google-immutable": true,
            "description": "Optional. Input only. Immutable. The time after which new Live API sessions using the token resulting from\nthis request will be rejected.\n\nIf not set this defaults to 60 seconds in the future. If set, this value\nmust be less than 20 hours in the future.",
            "writeOnly": true,
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ToolCall": {
        "description": "A predicted server-side `ToolCall` returned from the model. This message\ncontains information about a tool that the model wants to invoke.\nThe client is NOT expected to execute this `ToolCall`. Instead, the\nclient should pass this `ToolCall` back to the API in a subsequent turn\nwithin a `Content` message, along with the corresponding `ToolResponse`.",
        "required": [
          "toolType"
        ],
        "properties": {
          "toolType": {
            "description": "Required. The type of tool that was called.",
            "allOf": [
              {
                "$ref": "#/components/schemas/V1mainToolType"
              }
            ]
          },
          "args": {
            "additionalProperties": {
              "description": "Properties of the object."
            },
            "description": "Optional. The tool call arguments.\nExample: {\"arg1\" : \"value1\", \"arg2\" : \"value2\" , ...}",
            "type": "object"
          },
          "id": {
            "description": "Optional. Unique identifier of the tool call.\nThe server returns the tool response with the matching `id`.",
            "type": "string"
          },
          "toolName": {
            "type": "string",
            "description": "Optional. The name of the tool that was called."
          }
        },
        "type": "object"
      },
      "FunctionDeclaration": {
        "type": "object",
        "properties": {
          "response": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Schema"
              }
            ],
            "description": "Optional. Describes the output from this function in JSON Schema format. Reflects the\nOpen API 3.03 Response Object. The Schema defines the type used for the\nresponse value of the function."
          },
          "parameters": {
            "description": "Optional. Describes the parameters to this function. Reflects the Open API 3.03\nParameter Object string Key: the name of the parameter. Parameter names are\ncase sensitive. Schema Value: the Schema defining the type used for the\nparameter.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Schema"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Required. A brief description of the function."
          },
          "responseJsonSchema": {
            "description": "Optional. Describes the output from this function in JSON Schema format. The value\nspecified by the schema is the response value of the function.\n\nThis field is mutually exclusive with `response`."
          },
          "name": {
            "type": "string",
            "description": "Required. The name of the function.\nMust be a-z, A-Z, 0-9, or contain underscores, colons, dots, and dashes,\nwith a maximum length of 128."
          },
          "behavior": {
            "x-google-enum-descriptions": [
              "This value is unused.",
              "If set, the system will wait to receive the function response before\ncontinuing the conversation.",
              "If set, the system will not wait to receive the function response.\nInstead, it will attempt to handle function responses as they become\navailable while maintaining the conversation between the user and the\nmodel."
            ],
            "enum": [
              "UNSPECIFIED",
              "BLOCKING",
              "NON_BLOCKING"
            ],
            "type": "string",
            "description": "Optional. Specifies the function Behavior.\nCurrently only supported by the BidiGenerateContent method."
          },
          "parametersJsonSchema": {
            "description": "Optional. Describes the parameters to the function in JSON Schema format. The schema\nmust describe an object where the properties are the parameters to the\nfunction. For example:\n\n```\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": { \"type\": \"string\" },\n    \"age\": { \"type\": \"integer\" }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"name\", \"age\"],\n  \"propertyOrdering\": [\"name\", \"age\"]\n}\n```\n\nThis field is mutually exclusive with `parameters`."
          }
        },
        "description": "Structured representation of a function declaration as defined by the\n[OpenAPI 3.03 specification](https://spec.openapis.org/oas/v3.0.3). Included\nin this declaration are the function name and parameters. This\nFunctionDeclaration is a representation of a block of code that can be used\nas a `Tool` by the model and executed by the client.",
        "required": [
          "name",
          "description"
        ]
      },
      "CitationMetadata": {
        "properties": {
          "citationSources": {
            "items": {
              "$ref": "#/components/schemas/CitationSource"
            },
            "description": "Citations to sources for a specific response.",
            "type": "array"
          }
        },
        "description": "A collection of source attributions for a piece of content.",
        "type": "object"
      },
      "GroundingPassage": {
        "description": "Passage included inline with a grounding configuration.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier for the passage for attributing this passage in grounded\nanswers."
          },
          "content": {
            "description": "Content of the passage.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Content"
              }
            ]
          }
        },
        "type": "object"
      },
      "MessagePrompt": {
        "type": "object",
        "required": [
          "messages"
        ],
        "description": "All of the structured input text passed to the model as a prompt.\n\nA `MessagePrompt` contains a structured set of fields that provide context\nfor the conversation, examples of user input/model output message pairs that\nprime the model to respond in different ways, and the conversation history\nor list of messages representing the alternating turns of the conversation\nbetween the user and the model.",
        "properties": {
          "context": {
            "type": "string",
            "description": "Optional. Text that should be provided to the model first to ground the response.\n\nIf not empty, this `context` will be given to the model first before the\n`examples` and `messages`. When using a `context` be sure to provide it\nwith every request to maintain continuity.\n\nThis field can be a description of your prompt to the model to help provide\ncontext and guide the responses. Examples: \"Translate the phrase from\nEnglish to French.\" or \"Given a statement, classify the sentiment as happy,\nsad or neutral.\"\n\nAnything included in this field will take precedence over message history\nif the total input size exceeds the model's `input_token_limit` and the\ninput request is truncated."
          },
          "examples": {
            "items": {
              "$ref": "#/components/schemas/Example"
            },
            "type": "array",
            "description": "Optional. Examples of what the model should generate.\n\nThis includes both user input and the response that the model should\nemulate.\n\nThese `examples` are treated identically to conversation messages except\nthat they take precedence over the history in `messages`:\nIf the total input size exceeds the model's `input_token_limit` the input\nwill be truncated. Items will be dropped from `messages` before `examples`."
          },
          "messages": {
            "type": "array",
            "description": "Required. A snapshot of the recent conversation history sorted chronologically.\n\nTurns alternate between two authors.\n\nIf the total input size exceeds the model's `input_token_limit` the input\nwill be truncated: The oldest items will be dropped from `messages`.",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          }
        }
      },
      "Interval": {
        "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a\nTimestamp end (exclusive).\n\nThe start must be less than or equal to the end.\nWhen the start equals the end, the interval is empty (matches no time).\nWhen both start and end are unspecified, the interval matches any time.",
        "type": "object",
        "properties": {
          "startTime": {
            "type": "string",
            "description": "Optional. Inclusive start of the interval.\n\nIf specified, a Timestamp matching this interval will have to be the same\nor after the start.",
            "format": "date-time"
          },
          "endTime": {
            "format": "date-time",
            "description": "Optional. Exclusive end of the interval.\n\nIf specified, a Timestamp matching this interval will have to be before the\nend.",
            "type": "string"
          }
        }
      },
      "Embedding": {
        "type": "object",
        "properties": {
          "value": {
            "items": {
              "format": "float",
              "type": "number"
            },
            "type": "array",
            "description": "The embedding values."
          }
        },
        "description": "A list of floats representing the embedding."
      },
      "DownloadFileResponse": {
        "description": "Response for `DownloadFile`.",
        "type": "object"
      },
      "FunctionCallingConfig": {
        "description": "Configuration for specifying function calling behavior.",
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Optional. Specifies the mode in which function calling should execute. If\nunspecified, the default value will be set to AUTO.",
            "enum": [
              "MODE_UNSPECIFIED",
              "AUTO",
              "ANY",
              "NONE",
              "VALIDATED"
            ],
            "x-google-enum-descriptions": [
              "Unspecified function calling mode. This value should not be used.",
              "Default model behavior, model decides to predict either a function call\nor a natural language response.",
              "Model is constrained to always predicting a function call only.\nIf \"allowed_function_names\" are set, the predicted function call will be\nlimited to any one of \"allowed_function_names\", else the predicted\nfunction call will be any one of the provided \"function_declarations\".",
              "Model will not predict any function call. Model behavior is same as when\nnot passing any function declarations.",
              "Model decides to predict either a function call\nor a natural language response, but will validate function calls with\nconstrained decoding.\nIf \"allowed_function_names\" are set, the predicted function call will be\nlimited to any one of \"allowed_function_names\", else the predicted\nfunction call will be any one of the provided \"function_declarations\"."
            ]
          },
          "allowedFunctionNames": {
            "items": {
              "type": "string"
            },
            "description": "Optional. A set of function names that, when provided, limits the functions the model\nwill call.\n\nThis should only be set when the Mode is ANY or VALIDATED. Function names\nshould match [FunctionDeclaration.name]. When set, model will\npredict a function call from only allowed function names.",
            "type": "array"
          }
        }
      },
      "Content": {
        "properties": {
          "parts": {
            "type": "array",
            "description": "Ordered `Parts` that constitute a single message. Parts may have different\nMIME types.",
            "items": {
              "$ref": "#/components/schemas/Part"
            }
          },
          "role": {
            "description": "Optional. The producer of the content. Must be either 'user' or 'model'.\n\nUseful to set for multi-turn conversations, otherwise can be left blank\nor unset.",
            "type": "string"
          }
        },
        "description": "The base structured datatype containing multi-part content of a message.\n\nA `Content` includes a `role` field designating the producer of the `Content`\nand a `parts` field containing multi-part data that contains the content of\nthe message turn.",
        "type": "object"
      },
      "SemanticRetrieverChunk": {
        "type": "object",
        "properties": {
          "source": {
            "description": "Output only. Name of the source matching the request's\n`SemanticRetrieverConfig.source`. Example: `corpora/123` or\n`corpora/123/documents/abc`",
            "type": "string",
            "readOnly": true
          },
          "chunk": {
            "description": "Output only. Name of the `Chunk` containing the attributed text.\nExample: `corpora/123/documents/abc/chunks/xyz`",
            "type": "string",
            "readOnly": true
          }
        },
        "description": "Identifier for a `Chunk` retrieved via Semantic Retriever specified in the\n`GenerateAnswerRequest` using `SemanticRetrieverConfig`."
      },
      "Hyperparameters": {
        "properties": {
          "epochCount": {
            "format": "int32",
            "x-google-immutable": true,
            "description": "Immutable. The number of training epochs. An epoch is one pass through the training\ndata.\nIf not set, a default of 5 will be used.",
            "type": "integer"
          },
          "batchSize": {
            "format": "int32",
            "type": "integer",
            "x-google-immutable": true,
            "description": "Immutable. The batch size hyperparameter for tuning.\nIf not set, a default of 4 or 16 will be used based on the number of\ntraining examples."
          },
          "learningRate": {
            "x-google-immutable": true,
            "description": "Optional. Immutable. The learning rate hyperparameter for tuning.\nIf not set, a default of 0.001 or 0.0002 will be calculated based on the\nnumber of training examples.",
            "format": "float",
            "type": "number"
          },
          "learningRateMultiplier": {
            "x-google-immutable": true,
            "description": "Optional. Immutable. The learning rate multiplier is used to calculate a final learning_rate\nbased on the default (recommended) value.\nActual learning rate := learning_rate_multiplier * default learning rate\nDefault learning rate is dependent on base model and dataset size.\nIf not set, a default of 1.0 will be used.",
            "type": "number",
            "format": "float"
          }
        },
        "type": "object",
        "description": "Hyperparameters controlling the tuning process. Read more at\nhttps://ai.google.dev/docs/model_tuning_guidance"
      },
      "HarmCategory": {
        "x-google-enum-deprecated": [
          false,
          false,
          false,
          false,
          false,
          false,
          false,
          false,
          false,
          false,
          false,
          true,
          false
        ],
        "enum": [
          "HARM_CATEGORY_UNSPECIFIED",
          "HARM_CATEGORY_DEROGATORY",
          "HARM_CATEGORY_TOXICITY",
          "HARM_CATEGORY_VIOLENCE",
          "HARM_CATEGORY_SEXUAL",
          "HARM_CATEGORY_MEDICAL",
          "HARM_CATEGORY_DANGEROUS",
          "HARM_CATEGORY_HARASSMENT",
          "HARM_CATEGORY_HATE_SPEECH",
          "HARM_CATEGORY_SEXUALLY_EXPLICIT",
          "HARM_CATEGORY_DANGEROUS_CONTENT",
          "HARM_CATEGORY_CIVIC_INTEGRITY",
          "HARM_CATEGORY_JAILBREAK"
        ],
        "type": "string",
        "x-google-enum-descriptions": [
          "Category is unspecified.",
          "**PaLM** - Negative or harmful comments targeting identity and/or protected\nattribute.",
          "**PaLM** - Content that is rude, disrespectful, or profane.",
          "**PaLM** - Describes scenarios depicting violence against an individual or\ngroup, or general descriptions of gore.",
          "**PaLM** - Contains references to sexual acts or other lewd content.",
          "**PaLM** - Promotes unchecked medical advice.",
          "**PaLM** - Dangerous content that promotes, facilitates, or encourages\nharmful acts.",
          "**Gemini** - Harassment content.",
          "**Gemini** - Hate speech and content.",
          "**Gemini** - Sexually explicit content.",
          "**Gemini** - Dangerous content.",
          "**Gemini** - Content that may be used to harm civic integrity.\nDEPRECATED: use enable_enhanced_civic_answers instead.",
          "**Gemini** - Prompts attempting to bypass or subvert the model's safety\nguidelines (jailbreak attempts)."
        ]
      },
      "CompositeMedia": {
        "properties": {
          "objectId": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ObjectId"
              }
            ],
            "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF."
          },
          "length": {
            "format": "int64",
            "type": "string",
            "description": "Size of the data, in bytes"
          },
          "referenceType": {
            "enum": [
              "PATH",
              "BLOB_REF",
              "INLINE",
              "BIGSTORE_REF",
              "COSMO_BINARY_REFERENCE"
            ],
            "description": "Describes what the field reference contains.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Reference contains a GFS path or a local path.",
              "Reference points to a blobstore object. This could be either\na v1 blob_ref or a v2 blobstore2_info. Clients should check\nblobstore2_info first, since v1 is being deprecated.",
              "Data is included into this proto buffer",
              "Reference points to a bigstore object",
              "Indicates the data is stored in cosmo_binary_reference."
            ]
          },
          "cosmoBinaryReference": {
            "format": "byte",
            "type": "string",
            "description": "A binary data reference for a media download. Serves as a\ntechnology-agnostic binary reference in some Google infrastructure.\nThis value is a serialized storage_cosmo.BinaryReference proto. Storing\nit as bytes is a hack to get around the fact that the cosmo proto\n(as well as others it includes) doesn't support JavaScript. This\nprevents us from including the actual type of this field."
          },
          "inline": {
            "type": "string",
            "description": "Media data, set if reference_type is INLINE",
            "format": "byte"
          },
          "md5Hash": {
            "format": "byte",
            "type": "string",
            "description": "MD5 hash for the payload."
          },
          "crc32cHash": {
            "format": "int64",
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967295,
            "description": "crc32.c hash for the payload."
          },
          "blobRef": {
            "format": "byte",
            "type": "string",
            "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF\nThis should be the byte representation of a blobstore.BlobRef.\nSince Blobstore is deprecating v1, use blobstore2_info instead.\nFor now, any v2 blob will also be represented in this field as\nv1 BlobRef.",
            "deprecated": true
          },
          "path": {
            "type": "string",
            "description": "Path to the data, set if reference_type is PATH"
          },
          "blobstore2Info": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Blobstore2Info"
              }
            ],
            "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers\nto a v2 blob."
          },
          "sha1Hash": {
            "description": "SHA-1 hash for the payload.",
            "format": "byte",
            "type": "string"
          }
        },
        "description": "A sequence of media data references representing composite data.\nIntroduced to support Bigstore composite objects. For details, visit\nhttp://go/bigstore-composites.",
        "type": "object"
      },
      "TunedModel": {
        "description": "A fine-tuned model created using ModelService.CreateTunedModel.",
        "type": "object",
        "required": [
          "tuningTask"
        ],
        "properties": {
          "createTime": {
            "type": "string",
            "readOnly": true,
            "format": "date-time",
            "description": "Output only. The timestamp when this model was created."
          },
          "state": {
            "type": "string",
            "readOnly": true,
            "enum": [
              "STATE_UNSPECIFIED",
              "CREATING",
              "ACTIVE",
              "FAILED"
            ],
            "x-google-enum-descriptions": [
              "The default value. This value is unused.",
              "The model is being created.",
              "The model is ready to be used.",
              "The model failed to be created."
            ],
            "description": "Output only. The state of the tuned model."
          },
          "readerProjectNumbers": {
            "type": "array",
            "description": "Optional. List of project numbers that have read access to the tuned model.",
            "items": {
              "format": "int64",
              "type": "string"
            }
          },
          "updateTime": {
            "description": "Output only. The timestamp when this model was updated.",
            "format": "date-time",
            "type": "string",
            "readOnly": true
          },
          "topP": {
            "format": "float",
            "type": "number",
            "description": "Optional. For Nucleus sampling.\n\nNucleus sampling considers the smallest set of tokens whose probability\nsum is at least `top_p`.\n\nThis value specifies default to be the one used by the base model while\ncreating the model."
          },
          "temperature": {
            "description": "Optional. Controls the randomness of the output.\n\nValues can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will\nproduce responses that are more varied, while a value closer to `0.0` will\ntypically result in less surprising responses from the model.\n\nThis value specifies default to be the one used by the base model while\ncreating the model.",
            "format": "float",
            "type": "number"
          },
          "baseModel": {
            "description": "Immutable. The name of the `Model` to tune.\nExample: `models/gemini-1.5-flash-001`",
            "x-google-immutable": true,
            "type": "string"
          },
          "name": {
            "description": "Output only. The tuned model name. A unique name will be generated on create.\nExample: `tunedModels/az2mb0bpw6i`\nIf display_name is set on create, the id portion of the name will be set\nby concatenating the words of the display_name with hyphens and adding a\nrandom portion for uniqueness.\n\nExample:\n\n * display_name = `Sentence Translator`\n * name = `tunedModels/sentence-translator-u3b7m`",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "Optional. The name to display for this model in user interfaces.\nThe display name must be up to 40 characters including spaces.",
            "type": "string"
          },
          "tunedModelSource": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TunedModelSource"
              }
            ],
            "description": "Optional. TunedModel to use as the starting point for training the new model."
          },
          "description": {
            "type": "string",
            "description": "Optional. A short description of this model."
          },
          "tuningTask": {
            "description": "Required. The tuning task that creates the tuned model.",
            "allOf": [
              {
                "$ref": "#/components/schemas/TuningTask"
              }
            ]
          },
          "topK": {
            "format": "int32",
            "type": "integer",
            "description": "Optional. For Top-k sampling.\n\nTop-k sampling considers the set of `top_k` most probable tokens.\nThis value specifies default to be used by the backend while making the\ncall to the model.\n\nThis value specifies default to be the one used by the base model while\ncreating the model."
          }
        }
      },
      "HistoryConfig": {
        "description": "History configuration.\n\nThis message is included in the session configuration as\n`BidiGenerateContentSetup.history_config`. Configures the exchange of\nhistory messages.",
        "type": "object",
        "properties": {
          "initialHistoryInClientContent": {
            "type": "boolean",
            "description": "Optional. If true, after sending `setup_complete`, the server will wait\nand at first process `client_content` messages until `turn_complete` is\n`true`. This initial history will not trigger a model call and\nmay end with role `MODEL`. After `turn_complete` is `true`, the client\ncan start the realtime conversation via `realtime_input`."
          }
        }
      },
      "CreateFileRequest": {
        "type": "object",
        "description": "Request for `CreateFile`.",
        "properties": {
          "file": {
            "description": "Optional. Metadata for the file to create.",
            "allOf": [
              {
                "$ref": "#/components/schemas/File"
              }
            ]
          }
        }
      },
      "BatchStats": {
        "type": "object",
        "description": "Stats about the batch.",
        "properties": {
          "successfulRequestCount": {
            "description": "Output only. The number of requests that were successfully processed.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "failedRequestCount": {
            "description": "Output only. The number of requests that failed to be processed.",
            "readOnly": true,
            "type": "string",
            "format": "int64"
          },
          "pendingRequestCount": {
            "readOnly": true,
            "format": "int64",
            "type": "string",
            "description": "Output only. The number of requests that are still pending processing."
          },
          "requestCount": {
            "description": "Output only. The number of requests in the batch.",
            "readOnly": true,
            "format": "int64",
            "type": "string"
          }
        }
      },
      "ListDocumentsResponse": {
        "properties": {
          "nextPageToken": {
            "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no more pages.",
            "type": "string"
          },
          "documents": {
            "items": {
              "$ref": "#/components/schemas/Document"
            },
            "type": "array",
            "description": "The returned `Document`s."
          }
        },
        "description": "Response from `ListDocuments` containing a paginated list of `Document`s.\nThe `Document`s are sorted by ascending `document.create_time`.",
        "type": "object"
      },
      "Schema": {
        "description": "The `Schema` object allows the definition of input and output data types.\nThese types can be objects, but also primitives and arrays.\nRepresents a select subset of an [OpenAPI 3.0 schema\nobject](https://spec.openapis.org/oas/v3.0.3#schema).",
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "propertyOrdering": {
            "description": "Optional. The order of the properties.\nNot a standard field in open api spec. Used to determine the order of the\nproperties in the response.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "pattern": {
            "description": "Optional. Pattern of the Type.STRING to restrict a string to a regular expression.",
            "type": "string"
          },
          "nullable": {
            "description": "Optional. Indicates if the value may be null.",
            "type": "boolean"
          },
          "maxItems": {
            "description": "Optional. Maximum number of the elements for Type.ARRAY.",
            "format": "int64",
            "type": "string"
          },
          "default": {
            "description": "Optional. Default value of the field. Per JSON Schema, this field is intended for\ndocumentation generators and doesn't affect validation. Thus it's included\nhere and ignored so that developers who send schemas with a `default` field\ndon't get unknown-field errors."
          },
          "minItems": {
            "format": "int64",
            "type": "string",
            "description": "Optional. Minimum number of the elements for Type.ARRAY."
          },
          "minimum": {
            "description": "Optional. SCHEMA FIELDS FOR TYPE INTEGER and NUMBER\nMinimum value of the Type.INTEGER and Type.NUMBER",
            "format": "double",
            "type": "number"
          },
          "minProperties": {
            "format": "int64",
            "description": "Optional. Minimum number of the properties for Type.OBJECT.",
            "type": "string"
          },
          "maxProperties": {
            "type": "string",
            "description": "Optional. Maximum number of the properties for Type.OBJECT.",
            "format": "int64"
          },
          "title": {
            "type": "string",
            "description": "Optional. The title of the schema."
          },
          "maxLength": {
            "format": "int64",
            "description": "Optional. Maximum length of the Type.STRING",
            "type": "string"
          },
          "required": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "Optional. Required properties of Type.OBJECT."
          },
          "minLength": {
            "description": "Optional. SCHEMA FIELDS FOR TYPE STRING\nMinimum length of the Type.STRING",
            "type": "string",
            "format": "int64"
          },
          "example": {
            "description": "Optional. Example of the object. Will only populated when the object is the root."
          },
          "type": {
            "description": "Required. Data type.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Type"
              }
            ]
          },
          "properties": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Schema"
            },
            "type": "object",
            "description": "Optional. Properties of Type.OBJECT."
          },
          "anyOf": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Schema"
            },
            "description": "Optional. The value should be validated against any (one or more) of the subschemas\nin the list."
          },
          "items": {
            "description": "Optional. Schema of the elements of Type.ARRAY.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Schema"
              }
            ]
          },
          "enum": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "Optional. Possible values of the element of Type.STRING with enum format.\nFor example we can define an Enum Direction as :\n{type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]}"
          },
          "description": {
            "type": "string",
            "description": "Optional. A brief description of the parameter. This could contain examples of use.\nParameter description may be formatted as Markdown."
          },
          "format": {
            "description": "Optional. The format of the data. Any value is allowed, but most do not trigger any\nspecial functionality.",
            "type": "string"
          },
          "maximum": {
            "type": "number",
            "description": "Optional. Maximum value of the Type.INTEGER and Type.NUMBER",
            "format": "double"
          }
        }
      },
      "BaseOperation": {
        "type": "object",
        "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
        "properties": {
          "error": {
            "description": "The error result of the operation in case of failure or cancellation.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Status"
              }
            ]
          },
          "name": {
            "type": "string",
            "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`."
          },
          "done": {
            "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
            "type": "boolean"
          }
        }
      },
      "TuningExamples": {
        "type": "object",
        "properties": {
          "examples": {
            "description": "The examples. Example input can be for text or discuss, but all examples\nin a set must be of the same type.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TuningExample"
            }
          }
        },
        "description": "A set of tuning examples. Can be training or validation data."
      },
      "ComputerUse": {
        "properties": {
          "environment": {
            "x-google-enum-descriptions": [
              "Defaults to browser.",
              "Operates in a web browser.",
              "Operates in a mobile environment.",
              "Operates in a desktop environment."
            ],
            "enum": [
              "ENVIRONMENT_UNSPECIFIED",
              "ENVIRONMENT_BROWSER",
              "ENVIRONMENT_MOBILE",
              "ENVIRONMENT_DESKTOP"
            ],
            "description": "Required. The environment being operated.",
            "type": "string"
          },
          "enablePromptInjectionDetection": {
            "type": "boolean",
            "description": "Optional. Whether enable the prompt injection detection check on computer-use\nrequest."
          },
          "excludedPredefinedFunctions": {
            "type": "array",
            "description": "Optional. By default, predefined functions are included in the final model\ncall.\nSome of them can be explicitly excluded from being automatically\nincluded. This can serve two purposes:\n1. Using a more restricted / different action space.\n2. Improving the definitions / instructions of predefined functions.",
            "items": {
              "type": "string"
            }
          },
          "disabledSafetyPolicies": {
            "type": "array",
            "description": "Optional. Disabled safety policies for computer use.",
            "items": {
              "x-google-enum-descriptions": [
                "Unspecified safety policy.",
                "Safety policy for financial transactions.",
                "Safety policy for sensitive data modification.",
                "Safety policy for communication tools (e.g. Gmail, Chat, Meet).",
                "Safety policy for account creation.",
                "Safety policy for data modification.",
                "Safety policy for user consent management.",
                "Safety policy for legal terms and agreements."
              ],
              "enum": [
                "SAFETY_POLICY_UNSPECIFIED",
                "FINANCIAL_TRANSACTIONS",
                "SENSITIVE_DATA_MODIFICATION",
                "COMMUNICATION_TOOL",
                "ACCOUNT_CREATION",
                "DATA_MODIFICATION",
                "USER_CONSENT_MANAGEMENT",
                "LEGAL_TERMS_AND_AGREEMENTS"
              ],
              "type": "string"
            }
          }
        },
        "type": "object",
        "description": "Computer Use tool type.",
        "required": [
          "environment"
        ]
      },
      "LogprobsResult": {
        "properties": {
          "chosenCandidates": {
            "items": {
              "$ref": "#/components/schemas/LogprobsResultCandidate"
            },
            "type": "array",
            "description": "Length = total number of decoding steps.\nThe chosen candidates may or may not be in top_candidates."
          },
          "topCandidates": {
            "type": "array",
            "description": "Length = total number of decoding steps.",
            "items": {
              "$ref": "#/components/schemas/TopCandidates"
            }
          },
          "logProbabilitySum": {
            "description": "Sum of log probabilities for all tokens.",
            "format": "float",
            "type": "number"
          }
        },
        "description": "Logprobs Result",
        "type": "object"
      },
      "UrlContextMetadata": {
        "properties": {
          "urlMetadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UrlMetadata"
            },
            "description": "List of url context."
          }
        },
        "description": "Metadata related to url context retrieval tool.",
        "type": "object"
      },
      "PredictLongRunningOperation": {
        "type": "object",
        "description": "This resource represents a long-running operation where metadata and response fields are strongly typed.",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseOperation"
          },
          {
            "type": "object",
            "properties": {
              "metadata": {
                "$ref": "#/components/schemas/PredictLongRunningMetadata"
              },
              "response": {
                "$ref": "#/components/schemas/PredictLongRunningResponse"
              }
            }
          }
        ]
      },
      "SpeakerVoiceConfig": {
        "type": "object",
        "properties": {
          "voiceConfig": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceConfig"
              }
            ],
            "description": "Required. The configuration for the voice to use."
          },
          "speaker": {
            "description": "Required. The name of the speaker to use. Should be the same as in the prompt.",
            "type": "string"
          }
        },
        "required": [
          "speaker",
          "voiceConfig"
        ],
        "description": "The configuration for a single speaker in a multi speaker setup."
      },
      "UsageMetadata": {
        "properties": {
          "toolUsePromptTokenCount": {
            "format": "int32",
            "description": "Output only. Number of tokens present in tool-use prompt(s).",
            "type": "integer",
            "readOnly": true
          },
          "cachedContentTokenCount": {
            "type": "integer",
            "format": "int32",
            "description": "Number of tokens in the cached part of the prompt (the cached content)"
          },
          "candidatesTokensDetails": {
            "readOnly": true,
            "type": "array",
            "description": "Output only. List of modalities that were returned in the response.",
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            }
          },
          "totalTokenCount": {
            "description": "Total token count for the generation request (prompt + thoughts +\nresponse candidates).",
            "type": "integer",
            "format": "int32"
          },
          "thoughtsTokenCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true,
            "description": "Output only. Number of tokens of thoughts for thinking models."
          },
          "toolUsePromptTokensDetails": {
            "description": "Output only. List of modalities that were processed for tool-use request inputs.",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            }
          },
          "promptTokenCount": {
            "type": "integer",
            "format": "int32",
            "description": "Number of tokens in the prompt. When `cached_content` is set, this is\nstill the total effective prompt size meaning this includes the number of\ntokens in the cached content."
          },
          "serviceTier": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ServiceTier"
              }
            ],
            "readOnly": true,
            "description": "Output only. Service tier of the request."
          },
          "cacheTokensDetails": {
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            },
            "type": "array",
            "description": "Output only. List of modalities of the cached content in the request input.",
            "readOnly": true
          },
          "candidatesTokenCount": {
            "description": "Total number of tokens across all the generated response candidates.",
            "type": "integer",
            "format": "int32"
          },
          "promptTokensDetails": {
            "readOnly": true,
            "description": "Output only. List of modalities that were processed in the request input.",
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            },
            "type": "array"
          }
        },
        "description": "Metadata on the generation request's token usage.",
        "type": "object"
      },
      "WhiteSpaceConfig": {
        "type": "object",
        "description": "Configuration for a white space chunking algorithm [white space delimited].",
        "properties": {
          "maxTokensPerChunk": {
            "format": "int32",
            "type": "integer",
            "description": "Maximum number of tokens per chunk.\nTokens are defined as words for this chunking algorithm.\nNote: we are defining tokens as words split by whitespace as opposed to\nthe output of a tokenizer. The context window of the latest gemini\nembedding model as of 2025-04-17 is currently 8192 tokens. We assume that\nthe average word is 5 characters. Therefore, we set the upper limit to\n2**9, which is 512 words, or 2560 tokens, assuming worst case a\ncharacter per token. This is a conservative estimate meant to prevent\ncontext window overflow."
          },
          "maxOverlapTokens": {
            "description": "Maximum number of overlapping tokens between two adjacent chunks.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BatchEmbedTextResponse": {
        "type": "object",
        "description": "The response to a EmbedTextRequest.",
        "properties": {
          "embeddings": {
            "description": "Output only. The embeddings generated from the input text.",
            "items": {
              "$ref": "#/components/schemas/Embedding"
            },
            "type": "array",
            "readOnly": true
          }
        }
      },
      "InputConfig": {
        "type": "object",
        "description": "Configures the input to the batch request.",
        "properties": {
          "fileName": {
            "description": "The name of the `File` containing the input requests.",
            "type": "string"
          },
          "requests": {
            "description": "The requests to be processed in the batch.",
            "allOf": [
              {
                "$ref": "#/components/schemas/InlinedRequests"
              }
            ]
          }
        }
      },
      "TransferOwnershipRequest": {
        "properties": {
          "emailAddress": {
            "description": "Required. The email address of the user to whom the tuned model is being transferred\nto.",
            "type": "string"
          }
        },
        "required": [
          "emailAddress"
        ],
        "description": "Request to transfer the ownership of the tuned model.",
        "type": "object"
      },
      "UrlContext": {
        "description": "Tool to support URL context retrieval.",
        "type": "object"
      },
      "Message": {
        "description": "The base unit of structured text.\n\nA `Message` includes an `author` and the `content` of\nthe `Message`.\n\nThe `author` is used to tag messages when they are fed to the\nmodel as text.",
        "type": "object",
        "required": [
          "content"
        ],
        "properties": {
          "content": {
            "type": "string",
            "description": "Required. The text content of the structured `Message`."
          },
          "citationMetadata": {
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/CitationMetadata"
              }
            ],
            "description": "Output only. Citation information for model-generated `content` in this `Message`.\n\nIf this `Message` was generated as output from the model, this field may be\npopulated with attribution information for any text included in the\n`content`. This field is used only on output."
          },
          "author": {
            "description": "Optional. The author of this Message.\n\nThis serves as a key for tagging\nthe content of this Message when it is fed to the model as text.\n\nThe author can be any alphanumeric string.",
            "type": "string"
          }
        }
      },
      "ImageResponseFormat": {
        "type": "object",
        "description": "Configuration for image output format.",
        "properties": {
          "mimeType": {
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "JPEG image format."
            ],
            "description": "Optional. The MIME type of the image output.",
            "type": "string",
            "enum": [
              "MIME_TYPE_UNSPECIFIED",
              "IMAGE_JPEG"
            ]
          },
          "imageSize": {
            "type": "string",
            "description": "Optional. The size of the image output.",
            "enum": [
              "IMAGE_SIZE_UNSPECIFIED",
              "IMAGE_SIZE_FIVE_TWELVE",
              "IMAGE_SIZE_ONE_K",
              "IMAGE_SIZE_TWO_K",
              "IMAGE_SIZE_FOUR_K"
            ],
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "512px image size.",
              "1K image size.",
              "2K image size.",
              "4K image size."
            ]
          },
          "delivery": {
            "description": "Optional. The delivery mode for the image output.",
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "Image data is returned inline in the response.",
              "Image data is returned as a URI."
            ],
            "type": "string",
            "enum": [
              "DELIVERY_UNSPECIFIED",
              "INLINE",
              "URI"
            ]
          },
          "aspectRatio": {
            "enum": [
              "ASPECT_RATIO_UNSPECIFIED",
              "ASPECT_RATIO_ONE_BY_ONE",
              "ASPECT_RATIO_TWO_BY_THREE",
              "ASPECT_RATIO_THREE_BY_TWO",
              "ASPECT_RATIO_THREE_BY_FOUR",
              "ASPECT_RATIO_FOUR_BY_THREE",
              "ASPECT_RATIO_FOUR_BY_FIVE",
              "ASPECT_RATIO_FIVE_BY_FOUR",
              "ASPECT_RATIO_NINE_BY_SIXTEEN",
              "ASPECT_RATIO_SIXTEEN_BY_NINE",
              "ASPECT_RATIO_TWENTY_ONE_BY_NINE",
              "ASPECT_RATIO_ONE_BY_EIGHT",
              "ASPECT_RATIO_EIGHT_BY_ONE",
              "ASPECT_RATIO_ONE_BY_FOUR",
              "ASPECT_RATIO_FOUR_BY_ONE"
            ],
            "description": "Optional. The aspect ratio for the image output.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "1:1 aspect ratio.",
              "2:3 aspect ratio.",
              "3:2 aspect ratio.",
              "3:4 aspect ratio.",
              "4:3 aspect ratio.",
              "4:5 aspect ratio.",
              "5:4 aspect ratio.",
              "9:16 aspect ratio.",
              "16:9 aspect ratio.",
              "21:9 aspect ratio.",
              "1:8 aspect ratio.",
              "8:1 aspect ratio.",
              "1:4 aspect ratio.",
              "4:1 aspect ratio."
            ]
          }
        }
      },
      "ContentTypeInfo": {
        "properties": {
          "fromHeader": {
            "description": "The content type of the file as specified in the request headers,\nmultipart headers, or RUPIO start request.",
            "type": "string"
          },
          "fusionIdDetectionMetadata": {
            "type": "string",
            "description": "Metadata information from Fusion ID detection. Serialized\nFusionIdDetectionMetadata proto. Only set if from_fusion_id is set.",
            "format": "byte"
          },
          "fromFusionId": {
            "description": "The content type of the file detected by Fusion ID. go/fusionid",
            "type": "string"
          },
          "bestGuess": {
            "type": "string",
            "description": "Scotty's best guess of what the content type of the file is."
          },
          "fromBytes": {
            "description": "The content type of the file derived by looking at specific\nbytes (i.e. \"magic bytes\") of the actual file.",
            "type": "string"
          },
          "fromUrlPath": {
            "description": "The content type of the file derived from the file extension of the\nURL path.  The URL path is assumed to represent a file name (which\nis typically only true for agents that are providing a REST API).",
            "type": "string"
          },
          "fromFileName": {
            "description": "The content type of the file derived from the file extension of\nthe original file name used by the client.",
            "type": "string"
          }
        },
        "type": "object",
        "description": "Detailed Content-Type information from Scotty. The Content-Type of the media\nwill typically be filled in by the header or Scotty's best_guess, but this\nextended information provides the backend with more information so that it\ncan make a better decision if needed. This is only used on media upload\nrequests from Scotty."
      },
      "Part": {
        "description": "A datatype containing media that is part of a multi-part `Content` message.\n\nA `Part` consists of data which has an associated datatype. A `Part` can only\ncontain one of the accepted types in `Part.data`.\n\nA `Part` must have a fixed IANA MIME type identifying the type and subtype\nof the media if the `inline_data` field is filled with raw bytes.",
        "type": "object",
        "properties": {
          "mediaResolution": {
            "allOf": [
              {
                "$ref": "#/components/schemas/V1mainMediaResolution"
              }
            ],
            "description": "Optional. Media resolution for the input media."
          },
          "toolResponse": {
            "description": "The output from a server-side `ToolCall` execution. This field is\npopulated by the client with the results of executing the\ncorresponding `ToolCall`.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ToolResponse"
              }
            ]
          },
          "functionResponse": {
            "description": "The result output of a `FunctionCall` that contains a string\nrepresenting the `FunctionDeclaration.name` and a structured JSON\nobject containing any output from the function is used as context to\nthe model.",
            "allOf": [
              {
                "$ref": "#/components/schemas/FunctionResponse"
              }
            ]
          },
          "videoMetadata": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VideoMetadata"
              }
            ],
            "description": "Optional. Video metadata. The metadata should only be specified while the video\ndata is presented in inline_data or file_data."
          },
          "thought": {
            "type": "boolean",
            "description": "Optional. Indicates if the part is thought from the model."
          },
          "fileData": {
            "description": "URI based data.",
            "allOf": [
              {
                "$ref": "#/components/schemas/FileData"
              }
            ]
          },
          "toolCall": {
            "description": "Server-side tool call. This field is populated when the model\npredicts a tool invocation that should be executed on the server.\nThe client is expected to echo this message back to the API.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ToolCall"
              }
            ]
          },
          "codeExecutionResult": {
            "description": "Result of executing the `ExecutableCode`.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CodeExecutionResult"
              }
            ]
          },
          "inlineData": {
            "description": "Inline media bytes.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Blob"
              }
            ]
          },
          "mediaProcessing": {
            "x-google-enum-descriptions": [
              "Defaults to model-specific processing.",
              "Fixed-rate frame extraction. All frames placed in context.",
              "Model-driven dynamic navigation. Recommended for most use cases."
            ],
            "type": "string",
            "description": "Optional. How the model processes this part's media for understanding.\nOnly meaningful for video parts (`inline_data` or `file_data` with video\nmime). Non-video parts ignore this field.",
            "enum": [
              "MEDIA_PROCESSING_UNSPECIFIED",
              "STATIC",
              "AGENTIC"
            ]
          },
          "partMetadata": {
            "type": "object",
            "description": "Custom metadata associated with the Part.\nAgents using genai.Part as content representation may need to keep track\nof the additional information. For example it can be name of a file/source\nfrom which the Part originates or a way to multiplex multiple Part streams.",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          },
          "thoughtSignature": {
            "type": "string",
            "description": "Optional. An opaque signature for the thought so it can be reused in subsequent\nrequests.",
            "format": "byte"
          },
          "audioTranscription": {
            "description": "Optional. Audio (input or output) transcription.\nThis is only set when this Part contains audio data.",
            "allOf": [
              {
                "$ref": "#/components/schemas/AudioTranscription"
              }
            ]
          },
          "text": {
            "type": "string",
            "description": "Inline text."
          },
          "functionCall": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FunctionCall"
              }
            ],
            "description": "A predicted `FunctionCall` returned from the model that contains\na string representing the `FunctionDeclaration.name` with the\narguments and their values."
          },
          "executableCode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ExecutableCode"
              }
            ],
            "description": "Code generated by the model that is meant to be executed."
          }
        }
      },
      "Web": {
        "properties": {
          "title": {
            "description": "Output only. Title of the chunk.",
            "readOnly": true,
            "type": "string"
          },
          "uri": {
            "readOnly": true,
            "type": "string",
            "description": "Output only. URI reference of the chunk."
          }
        },
        "type": "object",
        "description": "Chunk from the web."
      },
      "EnvironmentNetworkEgressAllowlist": {
        "type": "object",
        "description": "Network egress configuration for the environment.",
        "properties": {
          "allowlist": {
            "items": {
              "$ref": "#/components/schemas/EgressRule"
            },
            "type": "array",
            "description": "List of allowed domains and their configurations."
          }
        }
      },
      "UrlMetadata": {
        "description": "Context of the a single url retrieval.",
        "type": "object",
        "properties": {
          "retrievedUrl": {
            "type": "string",
            "description": "Retrieved url by the tool."
          },
          "urlRetrievalStatus": {
            "enum": [
              "URL_RETRIEVAL_STATUS_UNSPECIFIED",
              "URL_RETRIEVAL_STATUS_SUCCESS",
              "URL_RETRIEVAL_STATUS_ERROR",
              "URL_RETRIEVAL_STATUS_PAYWALL",
              "URL_RETRIEVAL_STATUS_UNSAFE"
            ],
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "Url retrieval is successful.",
              "Url retrieval is failed due to error.",
              "Url retrieval is failed because the content is behind paywall.",
              "Url retrieval is failed because the content is unsafe."
            ],
            "description": "Status of the url retrieval.",
            "type": "string"
          }
        }
      },
      "AutomaticActivityDetection": {
        "properties": {
          "silenceDurationMs": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The required duration of detected non-speech (e.g. silence) before\nend-of-speech is committed. The larger this value, the longer speech gaps\ncan be without interrupting the user's activity but this will increase\nthe model's latency."
          },
          "disabled": {
            "description": "Optional. If enabled (the default), detected voice and text input count as\nactivity. If disabled, the client must send activity signals.",
            "type": "boolean"
          },
          "endOfSpeechSensitivity": {
            "x-google-enum-descriptions": [
              "The default is END_SENSITIVITY_HIGH.",
              "Automatic detection ends speech more often.",
              "Automatic detection ends speech less often."
            ],
            "description": "Optional. Determines how likely detected speech is ended.",
            "enum": [
              "END_SENSITIVITY_UNSPECIFIED",
              "END_SENSITIVITY_HIGH",
              "END_SENSITIVITY_LOW"
            ],
            "type": "string"
          },
          "startOfSpeechSensitivity": {
            "enum": [
              "START_SENSITIVITY_UNSPECIFIED",
              "START_SENSITIVITY_HIGH",
              "START_SENSITIVITY_LOW"
            ],
            "description": "Optional. Determines how likely speech is to be detected.",
            "type": "string",
            "x-google-enum-descriptions": [
              "The default is START_SENSITIVITY_HIGH.",
              "Automatic detection will detect the start of speech more often.",
              "Automatic detection will detect the start of speech less often."
            ]
          },
          "prefixPaddingMs": {
            "description": "Optional. The required duration of detected speech before start-of-speech is\ncommitted. The lower this value, the more sensitive the start-of-speech\ndetection is and shorter speech can be recognized. However, this also\nincreases the probability of false positives.",
            "type": "integer",
            "format": "int32"
          }
        },
        "type": "object",
        "description": "Configures automatic detection of activity."
      },
      "ListFileSearchStoresResponse": {
        "type": "object",
        "description": "Response from `ListFileSearchStores` containing a paginated list of\n`FileSearchStores`. The results are sorted by ascending\n`file_search_store.create_time`.",
        "properties": {
          "fileSearchStores": {
            "items": {
              "$ref": "#/components/schemas/FileSearchStore"
            },
            "description": "The returned rag_stores.",
            "type": "array"
          },
          "nextPageToken": {
            "type": "string",
            "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no more pages."
          }
        }
      },
      "ExecutableCode": {
        "properties": {
          "language": {
            "enum": [
              "LANGUAGE_UNSPECIFIED",
              "PYTHON"
            ],
            "description": "Required. Programming language of the `code`.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified language. This value should not be used.",
              "Python \u003e= 3.10, with numpy and simpy available.\nPython is the default language."
            ]
          },
          "code": {
            "description": "Required. The code to be executed.",
            "type": "string"
          },
          "id": {
            "description": "Optional. Unique identifier of the `ExecutableCode` part.\nThe server returns the `CodeExecutionResult` with the matching `id`.",
            "type": "string"
          }
        },
        "description": "Code generated by the model that is meant to be executed, and the result\nreturned to the model.\n\nOnly generated when using the `CodeExecution` tool, in which the code will\nbe automatically executed, and a corresponding `CodeExecutionResult` will\nalso be generated.",
        "type": "object",
        "required": [
          "language",
          "code"
        ]
      },
      "ContextWindowCompressionConfig": {
        "type": "object",
        "description": "Enables context window compression — a mechanism for managing the model's\ncontext window so that it does not exceed a given length.",
        "properties": {
          "slidingWindow": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SlidingWindow"
              }
            ],
            "description": "A sliding-window mechanism."
          },
          "triggerTokens": {
            "description": "The number of tokens (before running a turn) required to trigger a context\nwindow compression.\n\nThis can be used to balance quality against latency as shorter context\nwindows may result in faster model responses. However, any compression\noperation will cause a temporary latency increase, so they should not be\ntriggered frequently.\n\nIf not set, the default is 80% of the model's context window limit. This\nleaves 20% for the next user request/model response.",
            "format": "int64",
            "type": "string"
          }
        }
      },
      "CountMessageTokensResponse": {
        "type": "object",
        "properties": {
          "tokenCount": {
            "description": "The number of tokens that the `model` tokenizes the `prompt` into.\n\nAlways non-negative.",
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "A response from `CountMessageTokens`.\n\nIt returns the model's `token_count` for the `prompt`."
      },
      "TuningSnapshot": {
        "type": "object",
        "description": "Record for a single tuning step.",
        "properties": {
          "meanLoss": {
            "readOnly": true,
            "format": "float",
            "description": "Output only. The mean loss of the training examples for this step.",
            "type": "number"
          },
          "step": {
            "description": "Output only. The tuning step.",
            "readOnly": true,
            "type": "integer",
            "format": "int32"
          },
          "epoch": {
            "readOnly": true,
            "description": "Output only. The epoch this step was part of.",
            "format": "int32",
            "type": "integer"
          },
          "computeTime": {
            "description": "Output only. The timestamp when this metric was computed.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "Blob": {
        "description": "Raw media bytes.\n\nText should not be sent as raw bytes, use the 'text' field.",
        "type": "object",
        "properties": {
          "data": {
            "format": "byte",
            "description": "Raw bytes for media formats.",
            "type": "string"
          },
          "displayName": {
            "description": "Optional. Specifies the name used to refer to this blob to the model (e.g.\n\"my_blob.png\"). Used as the blob reference identifier when\n`verbalization_mode` is set to `REFERENCE_ONLY`.",
            "type": "string"
          },
          "mimeType": {
            "description": "The IANA standard MIME type of the source data.\nExamples of supported types:\n- Images: image/png, image/jpeg, image/jpg, image/webp, image/heic,\nimage/heif, image/gif, image/avif\n- Audio: audio/*, video/audio/s16le, video/audio/wav\n- Video: video/*\n- Text: text/plain, text/html, text/css, text/javascript,\ntext/x-typescript, text/csv, text/markdown, text/x-python, text/xml,\ntext/rtf, video/text/timestamp\n- Applications: application/x-javascript, application/x-typescript,\napplication/x-python-code, application/json, application/x-ipynb+json,\napplication/rtf, application/pdf For additional context,\nsee [Supported file\nformats](https://ai.google.dev/gemini-api/docs/file-input-methods#supported-content-types).\n//",
            "type": "string"
          }
        }
      },
      "ModalityTokenCount": {
        "type": "object",
        "properties": {
          "tokenCount": {
            "type": "integer",
            "format": "int32",
            "description": "Number of tokens."
          },
          "modality": {
            "description": "The modality associated with this token count.",
            "allOf": [
              {
                "$ref": "#/components/schemas/GenerativeLanguageModality"
              }
            ]
          }
        },
        "description": "Represents token counting info for a single modality."
      },
      "AsyncBatchEmbedContentResponse": {
        "type": "object",
        "description": "Response for a `BatchGenerateContent` operation.",
        "properties": {
          "output": {
            "description": "Output only. The output of the batch request.",
            "allOf": [
              {
                "$ref": "#/components/schemas/EmbedContentBatchOutput"
              }
            ],
            "readOnly": true
          }
        }
      },
      "RetrievalMetadata": {
        "properties": {
          "googleSearchDynamicRetrievalScore": {
            "format": "float",
            "description": "Optional. Score indicating how likely information from google search could help\nanswer the prompt. The score is in the range [0, 1], where 0 is the least\nlikely and 1 is the most likely. This score is only populated when\ngoogle search grounding and dynamic retrieval is enabled. It will be\ncompared to the threshold to determine whether to trigger google search.",
            "type": "number"
          }
        },
        "description": "Metadata related to retrieval in the grounding flow.",
        "type": "object"
      },
      "ListFilesResponse": {
        "type": "object",
        "description": "Response for `ListFiles`.",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "description": "A token that can be sent as a `page_token` into a subsequent `ListFiles`\ncall."
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/File"
            },
            "description": "The list of `File`s."
          }
        }
      },
      "GroundingPassages": {
        "properties": {
          "passages": {
            "type": "array",
            "description": "List of passages.",
            "items": {
              "$ref": "#/components/schemas/GroundingPassage"
            }
          }
        },
        "description": "A repeated list of passages.",
        "type": "object"
      },
      "DownloadParameters": {
        "description": "Parameters specific to media downloads.",
        "type": "object",
        "properties": {
          "allowGzipCompression": {
            "type": "boolean",
            "description": "A boolean to be returned in the response to Scotty. Allows/disallows gzip\nencoding of the payload content when the server thinks it's\nadvantageous (hence, does not guarantee compression) which allows\nScotty to GZip the response to the client."
          },
          "ignoreRange": {
            "type": "boolean",
            "description": "Determining whether or not Apiary should skip the inclusion\nof any Content-Range header on its response to Scotty."
          }
        }
      },
      "ResponseFormatConfig": {
        "description": "Configuration for the response output format. This is a flat object\nwhere each optional sub-field configures a specific output modality.",
        "properties": {
          "audio": {
            "description": "Optional. Audio output format configuration.",
            "allOf": [
              {
                "$ref": "#/components/schemas/AudioResponseFormat"
              }
            ]
          },
          "text": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TextResponseFormat"
              }
            ],
            "description": "Optional. Text output format configuration."
          },
          "image": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ImageResponseFormat"
              }
            ],
            "description": "Optional. Image output format configuration."
          }
        },
        "type": "object"
      },
      "GenerateContentBatch": {
        "properties": {
          "batchStats": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BatchStats"
              }
            ],
            "description": "Output only. Stats about the batch.",
            "readOnly": true
          },
          "createTime": {
            "description": "Output only. The time at which the batch was created.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "name": {
            "description": "Output only. Identifier. Resource name of the batch.\n\nFormat: `batches/{batch_id}`.",
            "readOnly": true,
            "type": "string",
            "x-google-identifier": true
          },
          "priority": {
            "type": "string",
            "description": "Optional. The priority of the batch. Batches with a higher priority value will be\nprocessed before batches with a lower priority value. Negative values are\nallowed. Default is 0.",
            "format": "int64"
          },
          "model": {
            "type": "string",
            "description": "Required. The name of the `Model` to use for generating the completion.\n\nFormat: `models/{model}`."
          },
          "inputConfig": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InputConfig"
              }
            ],
            "description": "Required. Input configuration of the instances on which batch processing\nare performed."
          },
          "displayName": {
            "type": "string",
            "description": "Required. The user-defined name of this batch."
          },
          "state": {
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/BatchState"
              }
            ],
            "description": "Output only. The state of the batch."
          },
          "endTime": {
            "format": "date-time",
            "description": "Output only. The time at which the batch processing completed.",
            "readOnly": true,
            "type": "string"
          },
          "updateTime": {
            "readOnly": true,
            "format": "date-time",
            "description": "Output only. The time at which the batch was last updated.",
            "type": "string"
          },
          "output": {
            "description": "Output only. The output of the batch request.",
            "allOf": [
              {
                "$ref": "#/components/schemas/GenerateContentBatchOutput"
              }
            ],
            "readOnly": true
          }
        },
        "required": [
          "model",
          "displayName",
          "inputConfig"
        ],
        "description": "A resource representing a batch of `GenerateContent` requests.",
        "type": "object"
      },
      "EnvironmentFile": {
        "type": "object",
        "properties": {
          "modified": {
            "format": "date-time",
            "type": "string",
            "readOnly": true,
            "description": "Output only. The modification time of the file/directory."
          },
          "path": {
            "description": "Output only. The full relative path within the environment\n(e.g., \"workspace/src/main.py\").",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Output only. The type of the entry.",
            "readOnly": true,
            "enum": [
              "TYPE_UNSPECIFIED",
              "FILE",
              "DIRECTORY"
            ],
            "x-google-enum-descriptions": [
              "Unspecified type.",
              "A regular file.",
              "A directory."
            ]
          },
          "size_bytes": {
            "description": "Output only. The size of the file/directory in bytes.\nNOLINT",
            "type": "string",
            "readOnly": true,
            "format": "int64"
          },
          "created": {
            "format": "date-time",
            "type": "string",
            "description": "Output only. The creation time of the file/directory.",
            "readOnly": true
          },
[...]
